In [1]:
import pandas_datareader as pdr
import datetime as dt
import matplotlib.pyplot as plt
import yfinance as yf
pdr.__version__

'0.10.0'

下载股票数据

In [3]:
start_date = '2020-01-01'
end_date = '2020-03-20'
pingan = pdr.DataReader('601318.ss','yahoo',start=start_date, end=end_date)
pingan.head()

TypeError: string indices must be integers, not 'str'

根据网上的说法，yahoo更改了api
https://stackoverflow.com/questions/74834834/pdr-datareader-typeerror-string-indices-must-be-integers

In [10]:
pingan = yf.download(tickers='601318.ss', start=start_date, end=end_date)
pingan.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  85.900002  86.790001  85.879997  86.120003  74.224228  77825207
2020-01-03  86.809998  86.879997  85.900002  86.199997  74.293167  59498001
2020-01-06  85.919998  86.870003  85.500000  85.599998  73.776054  63644804
2020-01-07  86.010002  86.459999  85.669998  86.150002  74.250076  45218832
2020-01-08  85.000000  85.000000  85.000000  85.000000  73.258926  62805311

计算diff

In [11]:
pingan['diff'] = pingan['Close'].diff()
pingan.head()

,Open,High,Low,Close,Adj Close,Volume,diff
Date,,,,,,,
2020-01-02,85.900002,86.790001,85.879997,86.120003,74.224228,77825207,NaN
2020-01-03,86.809998,86.879997,85.900002,86.199997,74.293167,59498001,0.079994
2020-01-06,85.919998,86.870003,85.500000,85.599998,73.776054,63644804,-0.599998
2020-01-07,86.010002,86.459999,85.669998,86.150002,74.250076,45218832,0.550003
2020-01-08,85.000000,85.000000,85.000000,85.000000,73.258926,62805311,-1.150002

In [12]:
import numpy as np
pingan['Signal'] = np.where(pingan['diff']>0, 1, 0)
pingan.head()

,Open,High,Low,Close,Adj Close,Volume,diff,Signal
Date,,,,,,,,
2020-01-02,85.900002,86.790001,85.879997,86.120003,74.224228,77825207,NaN,0
2020-01-03,86.809998,86.879997,85.900002,86.199997,74.293167,59498001,0.079994,1
2020-01-06,85.919998,86.870003,85.500000,85.599998,73.776054,63644804,-0.599998,0
2020-01-07,86.010002,86.459999,85.669998,86.150002,74.250076,45218832,0.550003,1
2020-01-08,85.000000,85.000000,85.000000,85.000000,73.258926,62805311,-1.150002,0

google finance

In [3]:
import pandas_datareader.data as web
import datetime

In [5]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2015, 5, 9)

In [10]:
df=web.DataReader('F', 'quandl', start, end)

ValueError: The Quandl API key must be provided either through the api_key variable or through the environmental variable QUANDL_API_KEY.

tushare

In [21]:
import tushare as ts
import os

In [13]:
TS_API_TOKEN = os.environ.get('TS_API_TOKEN')
pro = ts.pro_api('82806297a8ea238993b10116ca82777c37282852ecf969d623570875')

In [14]:
df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

In [20]:
df = pro.daily(ts_code='000001.SZ,600000.SH', start_date='20231201', end_date='20231206')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20231206,9.44,9.57,9.40,9.50,9.48,0.02,0.2110,753055.92,714029.469
1,600000.SH,20231206,6.70,6.71,6.61,6.61,6.71,-0.10,-1.4903,398331.77,264013.331
2,000001.SZ,20231205,9.61,9.62,9.47,9.48,9.63,-0.15,-1.5576,787378.48,750961.220
3,600000.SH,20231205,6.82,6.82,6.69,6.71,6.81,-0.10,-1.4684,346049.36,233696.141
4,000001.SZ,20231204,9.67,9.68,9.61,9.63,9.66,-0.03,-0.3106,605437.85,583664.338
5,600000.SH,20231204,6.86,6.87,6.81,6.81,6.85,-0.04,-0.5839,188587.01,128887.074
6,000001.SZ,20231201,9.65,9.68,9.58,9.66,9.68,-0.02,-0.2066,778056.99,749668.364
7,600000.SH,20231201,6.85,6.90,6.82,6.85,6.85,0.00,0.0000,289461.91,198723.791

In [17]:
df = pro.hk_daily(ts_code='00700.HK', start_date='20231201', end_date='20231206')

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。